<div class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Main Menu</label></li>
		<li><a class="at_menu_item" href="{{@blog.url}}"><span class="fa fa-home"></span> Home</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/javascript"><span class="fa fa-terminal"></span>JavaScript</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/frameworks"><span class="fa fa-cogs"></span>Tools/Frameworks</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/projects"><span class="fa fa-puzzle-piece"></span>Projects</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/about"><span class="fa fa-info-circle"></span>About</a></li>
	</ul>
</div>